*{
    margin:0;}
    
div{
    width: 1200px;
    border: 1px solid black;
    margin: 0 auto;
}
/* 헤더 영역 */
header{
    background-color:grey;
    margin: 0;
    height: 120px;
}
/* 본문영역 */
aside{
    background-color:darkgrey;
    height: 600px;
}
#left-sidebar{
    float: left;
    width: 250px;
    padding: 10px;
    box-sizing: border-box;
}
#contents{
    float: left;
    width: 800px;
    height: 600px;
    padding: 10px;
    box-sizing: border-box;
}
p{
    margin:0px;
    padding:0px;
    font-weight: bold;
}

#right-sidebar{
    float: left;
    width: 150px;
}
/* 푸터 영역 */
footer{
    background-color: gray;
    clear: both;
    margin: 0;
    height: 100px;
}