body{
    background-image:url("images/bg1.jpg") ;
}
#text1{
    color:rgb(0, 0, 0)
}
#text2{
    color:rgba(0, 0, 0, 0.8)
}
#text3{
    color:rgba(0, 0, 0, 0.5)
}
#text4{
    color:rgba(0, 0, 0, 0.2)
}